
body {
  color: $primary-color;
  font: 100% $font-stack;
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}

.box {
  @include linx(#fff, #00f, #008000, #f00);
}
